personal*
scattered*
winn*
data*
results/*csv
results/ingress_durations/TIC72_ingress_snr.csv
doc/20181116_barclay_meeting.txt
nominal_pointing_strategies/
*TESS_SReview*pdf
results/ecliptic_timing/efficiency_vs*
*__pycache__*
*DS_Store
*vanderspek_emi*
slides/*
results/year1_year3_comp/
results/grr_20200814/
